{% extends 'base.html' %}

{% block main %}
<div class="container mt-auto">
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas enim eget ultrices ornare. Aenean laoreet
        tortor nisl, quis lobortis metus consequat sit amet. Aliquam in rhoncus ante. Mauris eu consectetur elit.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Sed euismod lacinia tellus, non efficitur lectus lacinia eget.
        Vestibulum mauris erat, commodo sed sodales vitae, tincidunt nec ligula. Donec finibus blandit turpis, id
        faucibus dolor condimentum ut. Curabitur ut finibus urna. Sed fringilla orci eros, non lacinia augue venenatis
        vel. Integer scelerisque varius ultrices. Nulla sit amet sagittis tellus. Curabitur odio lacus, suscipit quis
        turpis eget, porta vulputate velit. Nulla rutrum velit nec sapien facilisis tempus. Maecenas vestibulum
        dignissim purus at hendrerit.
    </p>
</div>
{% endblock %}